<!DOCTYPE html>
<html>
  <head>
    <title>Desafio - Main</title>
  </head>
  <body>
    <form action="/check" method="POST">
      <input type="text" name="name" />
      <input type="date" name="birthDate" />
      <button type="submit">Entrar</button>
    </form>
  </body>
</html>
